
.logo1{
    width: 82px;
    height: 45px;
    background: rgba(255, 255, 255, 0) url('../images/logo.png');
    margin: 8px 24px 16px 0;
    float: left;
    background-size: cover;
    align-items: center;
  }
